/* From Uiverse.io by ercnersoy */ 
.uiverse-neuo-input {
 width: 100%;
 border: none;
 padding: 1rem;
 border-radius: 1rem;
 background: #e8e8e8;
 color: #1E293B;
 box-shadow: 20px 20px 60px #c5c5c5,
		-20px -20px 60px #ffffff;
 transition: 0.3s;
}

.uiverse-neuo-input:focus {
 outline: none;
 outline-color: #e8e8e8;
 background: #e8e8e8;
 box-shadow: inset 20px 20px 60px #c5c5c5,
		inset -20px -20px 60px #ffffff;
 transition: 0.3s;
}
